%h1 News Recommender

.lnk
	%a(href="/register") Register
.lnk	
	%a(href="/login") Login
.lnk	
	%a(href="/setup") Setup your account
.lnk	
	%a(href="/rate") Rate some posts
.lnk	
	%a(href="/recommend") View Recommendations

.btn
	%button#retrievebutton Retrieve all posts

.btn
	%button#classifybutton Classify posts

%script(src="/js/index.js")	
%link(href="/stylesheets/index.css" rel="stylesheet")