%h1 Login
%form(method="post" action="/auth?ref=")
  %label Username
  %input#username(name="username")

  %br

  %label Password
  %input#password(name="pass" type="password")

  %br

  %input#submit(type="submit")