%h1 Register

%form(method="post" action="/registerpost")
  %label Username
  %input#username(name="username")

  %br

  %label Password
  %input#password(name="pass" type="password")

  %br

  %input#submit(type="submit")